<ion-view view-title="Level One">


    <ion-content>
        <div class="card" ui-sref="dailyMomin.tauheed">
            <div class="item item-text-wrap">
                TAUHEED
            </div>
        </div>

        <div class="card" >
            <div class="item item-text-wrap">
                NAMAZ
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                WAZAIF
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
               ROZA
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                CHARITY
            </div>
        </div>

    </ion-content>


</ion-view>