
<ion-view view-title="Browse">
  <ion-content>
  </ion-content>
</ion-view>
  <ion-tabs class="tabs-striped tabs-top tabs-positive tabs-color-light " >
    <ion-tab title="TODAY">
      <ion-nav-view name="tab-1">
        <ion-content padding="false" has-bouncing="false">
          <div class="card" id="id1">
            <div class="itm1" >
                <canvas style="margin-top: 15px;" donutchart data="donutchart" width="600" height="300"></canvas>
            </div>
              <ul id="stats">
                  <li id="col"></li>
                  <li class="text">UNCHECH</li>
                  <li id="col2"></li>
                  <li class="text">CHECK</li>
              </ul>
          </div>
          <div class="stat-group" ng-controller="tabe">
            <div class="per">80%</div>
            <svg class="svg"></svg>
          </div>
          <p class="line">Today's percentage</p>
          <!--<div class="card" id="id2">-->
            <!--<div class="itm2">-->
              <!--<div class="pie">-->
                <!--<div class="slice-right"></div>-->
                <!--<div class="slice-left"></div>-->
                <!--<div class="percent">-->
                  <!--<div class="number">55%</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </ion-content>
      </ion-nav-view>
    </ion-tab>
    <ion-tab title="WEEK" >
      <ion-nav-view name="tab-2">
        <ion-content padding="true" has-bouncing="false">

          <div class="card" id="id1">
            <div class="itm1" >
              <canvas id="bar" class="chart chart-bar" data="graph.data" labels="graph.labels" series='graph.series' height="100"></canvas>
            </div>
          </div>
          <!--<div class="card" id="id2">-->
            <!--<div class="itm2">-->
              <!--<div class="pie">-->
                <!--<div class="slice-right"></div>-->
                <!--<div class="slice-left"></div>-->
                <!--<div class="percent">-->
                  <!--<div class="number">{{x}}%</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="stat-group" ng-controller="tabe">
          <div class="per">77%</div>
          <svg class="svg"></svg>
          </div>
<p class="line">weekly percentage</p>
        </ion-content>
      </ion-nav-view>
    </ion-tab>
    <ion-tab title="MONTH" >
      <ion-nav-view name="tab-3">
        <ion-content padding="true" has-bouncing="false">

          <div class="card" id="id1">
            <div class="itm1" >
              <canvas id="bar" class="chart chart-line" data="graph.data1" labels="graph.labels1" series='graph.series' height="100"></canvas>
            </div>
          </div>
          <!--<div class="card" id="id2">-->
            <!--<div class="itm2">-->
              <!--<div class="pie">-->
                <!--<div class="slice-right"></div>-->
                <!--<div class="slice-left"></div>-->
                <!--<div class="percent">-->
                  <!--<div class="number">75%</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="stat-group" ng-controller="tabe">
            <div class="per">80%</div>
            <svg class="svg"></svg>
          </div>
          <p class="line">Monthly percentage</p>
        </ion-content>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>
