<body>
<ion-view title="tab2">
    <ion-content>
        <h1>tab two</h1>
    </ion-content>
</ion-view>
</body>
<!--<ion-view view-title="Level One">-->
    <!--<ion-pane>-->

        <!--<ion-content padding="true">-->
            <!--<ion-tabs class="tabs-icon-top tabs-positive tabs-top">-->
                <!--<ion-tab title="Checked" icon="ion-android-checkbox-outline-blank" ui-sref="dailyMomin.tauheed.tabone">-->

                    <!--<ion-content has-header="true" padding="true">-->
                        <!--<h2>Tab 1 Content</h2>-->
                    <!--</ion-content>-->
                <!--</ion-tab>-->
                <!--<ion-tab title="Unchecked" icon="ion-android-checkbox-outline" ui-sref="dailyMomin.tauheed.tabtwo">-->

                    <!--&lt;!&ndash;<ion-nav-view name="tabtwo"></ion-nav-view>&ndash;&gt;-->
                    <!--<ion-content has-header="true" padding="true">-->
                        <!--<h2>Tab 2 Content</h2>-->
                    <!--</ion-content>-->
                <!--</ion-tab>-->
            <!--</ion-tabs>-->
        <!--</ion-content>-->
    <!--</ion-pane>-->

<!--</ion-view>-->