
<!--ng-click="vis=!vis"-->
<ion-tabs class="tabs-icon-top tabs-top tabs-positive  has-tabs-item-show " delegate-handle="myTabs">

    <ion-tab title="UNCHECKED" icon="ion-android-checkbox-outline-blank" ng-click="storeTab(0)">
        <ion-content  has-bouncing="true">
            <ion-refresher on-refresh="doRefresh()">

            </ion-refresher>
            <!--<ion-slide-box does-continue="true">-->
            <!--<ion-slide >-->
            <div class="card" ng-repeat="x in lists">
                <div class="distance">
                    <p style="font-size: large">
                        {{x.name}}
                    </p>
                </div>
                <div class="item item-divider">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="x.done" ng-click="togle()">
                        </label>
                        check now!{{x.done}}
                    </li>
                </div>
            </div>
            <!--</ion-slide>-->
            <!--</ion-slide-box>-->

        </ion-content>

        <div class="bar bar-footer item-input-inset" ng-if="showFooter">

            <button class="button button-clear button-full" ng-click="submit()">
                submit
            </button>
        </div>

    </ion-tab>

    <ion-tab title="CHECKED"  icon="ion-android-checkbox-outline" ng-click="storeTab(1)">
        <ion-content class="pad" has-bouncing="true">

            <ion-refresher on-refresh="doRefresh()">
            </ion-refresher>

            <div class="card" ng-repeat="x in newlist">
                <div >
                    <p style="font-size: large">
                        {{x.name}}
                    </p>
                </div>
                <div class="item item-divider">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="true" ng-disabled="true">
                        </label>
                        Has been checked !
                    </li>
                </div>
            </div>
        </ion-content>
    </ion-tab>


</ion-tabs>